{% extends 'base.html.twig' %}

{% block title %}Project Hugo{% endblock %}

{% block body %}
<main class='homepage'>
    <h1>Bienvenue sur project-hugo</h1>
    <section class='homepage-intro'>
        <p>
            Le projet-hugo est un site pour gérer vos livres, que vous venez juste de voir en librairie et vouliez les mettre de côté, que vous venez de commencer
            ou bien même déjà terminé. Pour ne pas les oublier vous pouvez aussi y laisser une note, une citation qui vous a plu ou bien même une critique.
        </p>
    </section>
</main>
{% endblock %}
